<!DOCTYPE html>
<html>
  <head>
    <link href="/css/coincard.css" rel="stylesheet" />
  </head>
  <body>
    <div class="card">
      <div class="profilepicture">
        <img
          src="<% if (pb == null) {%>/src/default-pb.jpg<%} else{%> https://cdn.discordapp.com/avatars/<%= member.id %>/<%= pb %>.png<%}%>?size=2048"
          alt="Profile Picture"
        />
      </div>

      <div class="infos">
        <div class="name">
          <h1 class="nametag">
            <%= member.informations.name %>#<%=
            member.informations.discriminator %>
          </h1>
          <div class="<% if (member.serverbooster){ %>nitro<% } %>type">
            <h2><%= type %></h2>
          </div>
          <% if (member.serverbooster){ %>
          <img class="nitro" src="/src/nitro.png" alt="nitropng" />
          <% } %>
        </div>

        <div class="amount">
          <h2>coins: <%= member.currencys.coins.amount %></h2>
          <div class="coinssymbol">
            <img src="/src/esc.png" alt="Eat Sleep coin Icon" />
          </div>
        </div>

        <div class="log">
          <h3 style="margin-bottom: 5px">Buchungen:</h3>
          <% member.currencys.coins.log.slice(0, 3).forEach(l => { %>
          <div class="logentry">
            <% if (l.value > -1){ %>
            <p style="color: greenyellow">
              <%= l.description %>: <%= l.value %>
            </p>
            <img src="/src/esc.png" alt="Eat Sleep coin Icon" />
            <% } %> <% if (l.value < 0){ %>
            <p style="color: red"><%= l.description %>: <%= l.value %></p>
            <img src="/src/esc.png" alt="Eat Sleep coin Icon" />
            <% } %>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
