<!DOCTYPE html>
<html>
  <head>
    <link href="/css/rankcard.css" rel="stylesheet" />
  </head>
  <body>
    <div class="card">
      <div class="profilepicture">
        <img
          src="<% if (pb == null) {%>/src/default-pb.jpg<%} else{%> https://cdn.discordapp.com/avatars/<%= member.id %>/<%= pb %>.png<%}%>?size=2048"
          alt="Profile Picture"
        />
      </div>

      <div class="infos">
        <div class="name">
          <h1 class="nametag">
            <%= member.informations.name %>#<%=
            member.informations.discriminator %>
          </h1>
          <div class="<% if (member.serverbooster){ %>nitro<% } %>type">
            <h2><%= type %></h2>
          </div>
          <% if (member.serverbooster){ %>
          <img class="nitro" src="/src/nitro.png" alt="nitropng" />
          <% } %>
        </div>

        <div class="rank">
          <h2>rank: <%= member.currencys.ranks.rank %></h2>
          <h3>
            xp: <%= member.currencys.ranks.xp %> / <%=
            member.currencys.ranks.nextxp %>
          </h3>

          <progress
            value="<%= member.currencys.ranks.xp %>"
            max="<%= member.currencys.ranks.nextxp %>"
          >
            <%= member.currencys.ranks.xp %> %
          </progress>
        </div>
      </div>
    </div>
  </body>
</html>
